<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <!-- comment this out if site is not designed to be responsive -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <footer>
      <small>
        There are a total of <%= @user_file.size %> users with a total of 
        <%= count_interests %> interests.
      </small> 
    </footer>
  </body>
</html>


